{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <!--header-->
    <header>
        <div class="header">
            <div class="container">
                <div class=row>

                    <article class="span5">

                        <h1 class="brand">
                            
                            {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}

                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </h1>

                    </article>

                    <article class="span7">

                        <div class="nav-collapse nav-collapse_ collapse">

                            {{widget('navigation', 'navigation', {'align': 'left'})|raw}}

                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </div>

                    </article>

                </div>
            </div>
        </div>
    </header>

    <div class="global">

        <!--content-->

        <section>
            <div class="container">
                <div class="row">
                    <article class="span12">
                        {{widget('space', 'space', {'height': '30'})|raw}}
                        {{zone('main')|raw}}
                    </article>
                </div>
            </div>
        </section>

    </div>

    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <section class="span12">

                    <div class="row">

                        {{widget('space', 'space', {'height': '40'})|raw}}

                        <article class="span8">

                            {{widget('companyname', 'companyname', {"business": "Rosso"})|raw}}

                            {{widget('profile', 'copyright', { 'profileType':'copyright' })|raw}}

                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span4">

                            {{widget('profile', 'phone', { 'profileType':'phone' })|raw}}

                            {{widget('content', 'phone_text', {content: 'call us for reservation', lines: 'all'})|raw}}

                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>
                    </div>
                </section>
            </div>
        </div>
    </footer>
    
</div>

{% endblock %}